
<p>
  <strong>Title:</strong>
  <%= @skill.title %>
</p>

<p>
  <strong>Body:</strong>
  <%= @skill.body %>
</p>

<p>
  <strong>User:</strong>
  <%= @skill.user.email.split('@')[0].capitalize %>
</p>

<%= link_to 'Edit', edit_skill_path(@skill) %> |
<%= link_to 'Back', skills_path %>
